.auth-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: left;
}

.auth-form-label {
  margin-bottom: 6px;
  font-size: 14px;
}

.auth-form-input {
  /* width: 100%; */
  padding: 10px;
  background: #2a2a2a;
  border: 1px solid #444;
  border-radius: 6px;
  color: #fff;
  font-size: 18px;
}

.auth-form-input:focus {
  outline: none;
  border: 1px solid #b1b1b1;
}
